@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Edu+SA+Beginner:wght@500&family=Labrada:ital@0;1&family=Preahvihear&family=Ysabeau+SC:wght@300&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Ysabeau SC", sans-serif;
  background-color: #000;
  color: #ddd;
}
